.main_contato {padding: 15px; text-align: center  ; position: relative; border: solid 1px #000; width: 450px; margin-left: 500px;}
.main_contato .form-group{text-align: left;}

.size1{font-size: 1em;}
.color{color: #9d9d9d;}

.fl-left{float: left;}
